<div class="table-container">
    <!-- old angular control flow format -->
    <div class="table-box" *ngIf="shipments.length > 0 ; else noData">
        <table border="1">
            <tr>
                <th>Customer</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let ship of shipments">
                <td>{{ ship.customer }}</td>
                <td [ngSwitch]="ship.status">
                    <span *ngSwitchCase="'delivered'">Delivered</span>
                    <span *ngSwitchCase="'pending'">Pending</span>
                    <span *ngSwitchCase="'cancelled'">Cancelled</span>
                    <span *ngSwitchDefault>Unknown Status</span>
                </td>
            </tr>
        </table>
    </div>
    <ng-template #noData>
        <p>No shipments available.</p>
    </ng-template>
</div>
<app-customer-list [customers]="customersDetails"></app-customer-list>