<!-- <app-layout></app-layout> -->
<div class="table-container">
    <!-- old angular control flow format -->
    <!-- <div class="table-box" *ngIf="((shipmentService.shipmentStreams$ | async)?.length ?? 0) > 0 ; else noData">
        <table border="1">
            <tr>
                <th>Customer</th>
                <th>Status</th>
            </tr>
            <tr *ngFor="let ship of shipmentService.shipmentStreams$ | async;">
                <td>{{ ship.customer }}</td>
                <td [ngSwitch]="ship.status">
                    <span *ngSwitchCase="'delivered'">Delivered</span>
                    <span *ngSwitchCase="'pending'">Pending</span>
                    <span *ngSwitchCase="'cancelled'">Cancelled</span>
                    <span *ngSwitchDefault>Unknown Status</span>
                </td>
            </tr>
        </table>
    </div> -->

    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @for (ship of shipmentService.shipmentSignalStream();  track $index ) {
            <tr>
                <td>{{ ship.customer }}</td>
                <td>
                    @switch (ship.status) {
                    @case ('delivered') { <span>Delivered</span> }
                    @case ('pending') { <span>Pending</span> }
                    @case ('cancelled') { <span>Cancelled</span> }
                    @default { <span>Unknown Status</span> }
                    }
                </td>
            </tr>
            } @empty {
            <tr>
                <td colspan="2">No shipments yet</td>
            </tr>
            }
        </tbody>
    </table>
    <ng-template #noData>
        <p>No shipments available.</p>
    </ng-template>
</div>
<app-customer-list [customers1]="customersDetails"></app-customer-list>