<!-- This component is basically for learning bootstrap -->
<div class="container">
   <div class="list-header">
  <h2>Customer List</h2>
    <!--client side search  -->
  <input
        type="text"
         class="search-input"
        placeholder="Search customers..."
        (input)="onSearch($event)"
        >
    </div>
  @if (employeeservice.result$ | async) {
     <div class="row g-3">
      @for (customer of employeeservice.result$ | async; track customer.id) {
        <div class="col-12 col-md-6 col-lg-2">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{ customer.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ customer.username }}</h6>
              <p class="card-text">
                📧 {{ customer.email }}<br>
                📞 {{ customer.phone }}<br>
                🌐 {{ customer.website }}
              </p>
            </div>
          </div>
        </div>
      } @empty {
        <p>No data found</p>
      }
    </div>
  } @else if (error) {
    <p>{{ error }}</p>
  } @else {
   <p>Loading...</p>
  }
</div>

<!-- customer 2 from service using normal array-->
   <div class="list-header mt-5">
  <h2>Customer List</h2>
  <!-- server side search-->
     <input
        type="text"
         class="search-input"
        placeholder="Search customers..."
        (input)="onSearch_server($event)"
        >
    </div>
<div class="table-responsive p-3">
  <table border="1" class="table table-striped table-hover">
    <thead>
      <tr>
        <th> Name</th>
        <th> Age</th>
        <th> Gender</th>
        <th> Email</th>
        <th> Username</th>
      </tr>
    </thead>
    <tbody>
      @if(loading2){
      <tr>
        <td colspan="5">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </td>
      </tr>
      }
      @else if(error){
      <tr>
        <td colspan="5">{{ error }}</td>
      </tr>
      }

      @else {
      @for(customer of customerService.results$ | async; track customer.id)
      {
      <tr>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.age}}</td>
        <td>{{ customer.gender }}</td>
        <td>
          {{ customer.email}}
        </td>
        <td>
          {{ customer.username}}
        </td>
      </tr>
      }
      @empty{
      <tr>
        <td colspan="4" style="text-align: center; color:#999;">
          No Data found
        </td>
      </tr>
      }
      }

    </tbody>

  </table>
</div>
