.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}