<div class="employee-list-container">
   <div class="list-header">
  <h2>Employee List</h2>
     <input
        type="text"
         class="search-input"
        placeholder="Search employees..."
        (input)="onSearch($event)"
        >
    </div>
  @if (employees().length === 0) {
  <p>No employees found.</p>
  } @else {
  <div class="employee-list">
    @for (emp of results();; track emp.id) {
    <app-employee-card [employee]="emp" (selectedEmployee)="employeeSelected($event)"></app-employee-card>
    }
  </div>
  }
</div>

<div class="selected-employee">
  @if(selectedEmp){
  <div class="emp">
    <h3> Selected Employee</h3>
    <p> {{ selectedEmp.id }} </p>
    <p> {{ selectedEmp.name }} </p>
    <p> {{ selectedEmp.email }} </p>
    <p> {{ selectedEmp.phone }} </p>
  </div>

  }
</div>